
button:hover {
    color: white;
    border: 1px solid white;
    
}

button
{
    color:white;
    border: none;
}

.titulo{
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


.informacion{
    color: white;
    font-weight: bold;
}

.player1{
    color: green;
    font-weight: bold;
}

.player2{
    color: blue;
    font-weight: bold;
}

.btn-niveles{
    color:black
}

.vbox1{
    border: 2px solid green;
    border-radius: 10px;
}

.vbox2{
    border: 2px solid blue;
    border-radius: 10px;
}






